// Settings
@import 'settings/all';

// Normalize CSS (through PostCSS-plugin)
@import-normalize;

// Sanitize CSS (through PostCSS-plugin)
// @import-sanitize;

// Global base styles
@import 'global/base';

// Libs styles
@import 'libs/all';

// Icons styles
@import 'generated/sprite-generated';

// Elements styles
@import 'elements/example';

// Components styles
@import 'components/example';

// Blocks styles
@import 'blocks/example';

// Global page layout styles
@import 'layouts/header';
@import 'layouts/footer';

// Page styles
@import 'pages/index';

// Examples styles (comment out before development)
@import 'global/start-examples';

// Debug styles (comment out before production)
@import 'settings/debug';
