//Base styles

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  @include font-reg;
  font-size: 100%;
  color: $color-black;
}

//Old IE message block
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}