//Fonts declaration

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format("woff2"), url('../fonts/Roboto-Bold.woff') format("woff"), url('../fonts/Roboto-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format("woff2"), url('../fonts/Roboto-Light.woff') format("woff"), url('../fonts/Roboto-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format("woff2"), url('../fonts/Roboto-Regular.woff') format("woff"), url('../fonts/Roboto-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}