---
title: Index Page
bodyClass: template-main
---
extends layouts/_main-layout

block content

  //- variable usage example
  h1= title

  //- partial include example
  include parts/_example

  //- Micromodal call button example
  //- button(data-micromodal-trigger="modal-1") Open modal

  //- mixin usage example
  div

    +spacer
    +icon('icon-telegram', 'Telegram icon')
    +spacer
    +icon('icon-facebook', 'Facebook icon')
    +spacer

  //- variable set example
  - let list = ['text 1', 'text 2', 'text 3'];

  //- loop usage example
  ul
    for item in list
      li= item

  //color function usage example (look in _start-examples.scss file for more info)
  .color-function

  //aspect ration usage example (look in _start-examples.scss file for more info)
  .aspect-ratio-16-9
    img(src='img/test-image.jpg' alt='test image')

  //animation usage example (look in _start-examples.scss file for more info)
  .animation-test

  //critical CSS usage example (look in _index.scss file for more info)
  .test-critical

  //css-lock usage example (look in _start-examples.scss file for more info)
  p.css-lock Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus incidunt itaque nisi, nostrum obcaecati quae, quisquam, quo rerum similique ut voluptas voluptate. Aut delectus eaque eos fuga ipsum laboriosam numquam quo sunt. Ab, consequuntur culpa delectus ducimus molestiae praesentium quia repellat sequi. Corporis cum delectus deserunt doloribus est, et ex fuga illum ipsum minus necessitatibus nemo non pariatur, quisquam recusandae reprehenderit similique unde vel vero voluptatum.

  //media queries usage example (look in _start-examples.scss file for more info)
  .test-media

  //LostGrid usage example (look in _start-examples.scss file for more info)
  .lost-example
    .lost-example__wrapper
      .lost-example__col
        p THIS IS "LOST" COLUMN N1
      .lost-example__col
        p THIS IS "LOST" COLUMN N2
      .lost-example__col
        p THIS IS "LOST" COLUMN N3

//- block others
  //- Micromodal body example
  include parts/_micromodal-example
