---
title: Index Page
bodyClass: template-main
---
extends layouts/_main-layout

block content

  //- variable use example
  h1= title

  //- partial include example
  include parts/_example

  //- mixin example
  div

    |
    |
    +icon('icon-telegram', 'Telegram icon')
    |
    |
    +icon('icon-facebook', 'Facebook icon')
    |
    |

  //- variable set example
  - let list = ['text 1', 'text 2', 'text 3'];

  //- loop example
  ul
    for item in list
      li= item

  //color function use example (look in CSS)
  .color-function

  //aspect ration use example (look in CSS)
  .aspect-ratio-16-9
    .test-image-container
      img(src='img/test-image.jpg' alt='test image')

  //animation use example (look in CSS)
  .animation-test

  //critical CSS use example (look in CSS)
  .test-critical

  //css-lock use example (look in CSS)
  p.css-lock Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus incidunt itaque nisi, nostrum obcaecati quae, quisquam, quo rerum similique ut voluptas voluptate. Aut delectus eaque eos fuga ipsum laboriosam numquam quo sunt. Ab, consequuntur culpa delectus ducimus molestiae praesentium quia repellat sequi. Corporis cum delectus deserunt doloribus est, et ex fuga illum ipsum minus necessitatibus nemo non pariatur, quisquam recusandae reprehenderit similique unde vel vero voluptatum.

  //media queries test
  .test-media
