mixin icon-mono(name, label)
  - label = label || ""
  svg(class="icon-mono" + " " + name aria-label=label)
    use(xlink:href="img/sprites/sprite-mono.svg#" + name)

mixin icon-multi(name, label)
  - label = label || ""
  svg(class="icon-multi" + " " + name aria-label=label)
    use(xlink:href="img/sprites/sprite-multi.svg#" + name)
