//px to em function
@function em($pixels, $context: $base-font-size/1px) {
  @return #{$pixels/$context}em;
}

//px to rem function
@function rem($pixels, $context: $base-font-size/1px) {
  @return #{$pixels/$context}rem;
}