.icon-mono {
  display: inline-block;
  height: 1em;
  fill: currentColor;
}

{{#shapes}}
.{{base}} {
  font-size: calc({{height.inner}} / 10)*1rem;
  width: calc({{width.inner}} / {{height.inner}})*1em;
}
{{/shapes}}
