$color-white: #fff;
$color-black: #000;

$base-font-size: 16px !default;

$easing-material: cubic-bezier(0.4, 0.0, 0.2, 1);

$dt-small: 1280;
$tb-reg: 1024;
$tb-mid: 800;
$tb-small: 768;
$mb-big: 640;
$mb-mid: 414;
$mb-small: 320;