meta(charset="utf-8")
title= title || 'Page-title'
//- Description no longer than 155 characters
meta(name="description" content="Description")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
