script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="../../js/vendor/jquery-3.4.1.min.js"><\/script>')
script(src="js/bundle.min.js")
script(src="js/main.min.js")
