.icon-fill {
  display: inline-block;
  height: 1em;
  fill: currentColor;
}

.icon-facebook {
  font-size:(19/10)*1rem;
  width:(10/19)*1em;
}
.icon-telegram {
  font-size:(189.47/10)*1rem;
  width:(189.47/189.47)*1em;
}
