.icon-mono {
  display: inline-block;
  height: 1em;
  fill: currentColor;
}

.icon-facebook {
  font-size: calc(19 / 10)*1rem;
  width: calc(10 / 19)*1em;
}
.icon-telegram {
  font-size: calc(189.47 / 10)*1rem;
  width: calc(189.47 / 189.47)*1em;
}
